.offcanvas {
    --bs-offcanvas-width: 75%;
}

.healthbar > div {
  width: 0.6em;
  height: 2rem;
}

.healthbar-md {
  display: none;
}

.healthbar-tiny > div {
  width: 0.33em;
  height: 1rem;
}

.pulse-selection {
  overflow: auto;
}

@media (max-width: 768px) {
  .pulse-selection {
    max-height: 25vh;
  }

  .pulse-selection a {
    min-height: 2.7rem;
  }

  .offcanvas {
      --bs-offcanvas-width: 100%;
  }
}
