.navbar-brand-title {
  position: relative;
}

.navbar-brand-title::after {
  content: "by Liesel Thuriot";
  position: absolute;
  right: 0;
  bottom: -0.6rem;
  font-size: 0.6rem;
  color: var(--bs-secondary);
}

.col {
  min-height: 0;
}

.text-pink {
  --bs-text-opacity: 1;
  color: var(--bs-pink) !important;
}

.text-bg-pink {
  color: #fff !important;
  background-color: var(--bs-pink) !important;
}

.pre-tooltip > .tooltip-inner {
  white-space: pre-wrap;
  max-width: 25vw;
  text-align: left;
}

.min-vh-50 {
  min-height: 50vh;
}

#pulse-container {
  height: 100%;
}

#pulse-list-group {
  --bs-list-group-active-bg: var(--bs-secondary-bg);
  --bs-list-group-active-border-color: var(--bs-secondary-border-subtle);
  --bs-list-group-active-color: var(--bs-secondary-text-emphasis);
}

.offcanvas {
  --bs-offcanvas-width: 75%;
}

.healthbar-container {
  min-height: 2.6rem;
}

.healthbar > div {
  width: 0.6em;
  height: 2rem;
}

.healthbar-tiny > div {
  width: 0.33em;
  height: 1rem;
}

.pulse-selection {
  overflow: auto;
}

.pulse-selection a {
  min-height: 2.7rem;
}

#detail-card {
  overflow: hidden;
}

#detail-card-filter {
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

#detail-card-open-log-action {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}

.toast-success {
  --bs-toast-header-bg: RGBA(var(--bs-success-rgb), 0.5);
}

.toast-danger {
  --bs-toast-header-bg: RGBA(var(--bs-danger-rgb), 0.5);
}

#overview-card,
#detail-card {
  overflow: auto;
  max-height: calc(100vh - 8rem);
}

#pulse-container .overview-card-filter-text-all {
  display: inline !important;
}

#pulse-container .overview-card-filter-text-unhealthy {
  display: none !important;
}

#pulse-container.filter-not-healthy a.healthy {
  display: none !important;
}

#pulse-container.filter-not-healthy .overview-card-filter-text-all {
  display: none !important;
}

#pulse-container.filter-not-healthy .overview-card-filter-text-unhealthy {
  display: inline !important;
}

.list-group-item .pulse-overlay-toggle {
  visibility: hidden;
}

.list-group-item:hover .pulse-overlay-toggle {
  visibility: visible;
}

.list-group-item.active:hover .pulse-overlay-toggle {
  visibility: hidden;
}

.pulse-container-header #pulse-overlay-clear {
  visibility: hidden;
  cursor: pointer;
}

.pulse-container-header:hover #pulse-overlay-clear {
  visibility: visible;
}

#detail-card-heatmap::before,
#detail-card-heatmap::after {
  content: "";
  flex-grow: 1;
}

.heatmap-y-axis {
  gap: 2px;
}

.heatmap-y-axis div {
  font-size: 10px;
  height: 12px;
  width: 22px;
  text-align: right;
}

.heatmap-year,
.heatmap-week {
  gap: 2px;
}

.heatmap-week div {
  height: 12px;
  width: 12px;
  border: var(--bs-border-width) var(--bs-border-style)
    var(--bs-secondary-border-subtle);
  font-size: 10px;
  white-space: nowrap;
  color: rgba(var(--bs-secondary-rgb), 1);
  background-color: var(--bs-light-border-subtle);
  border-radius: var(--bs-border-radius-sm);
}

.heatmap-week div:first-child {
  --bs-light-border-subtle: transparent;
  --bs-secondary-border-subtle: transparent;
}

.heatmap-week .day-healthy {
  background-color: var(--bs-success);
}

.heatmap-week .day-degraded {
  background-color: var(--bs-warning);
}

.heatmap-week .day-unhealthy {
  background-color: var(--bs-danger);
}

.heatmap-week .day-timedout {
  background-color: var(--bs-pink);
}

@media (max-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 100%;
  }
}
