.col {
  min-height: 0;
}

.min-vh-50 {
  min-height: 50vh;
}

#pulse-container {
  height: 100%;
}

.offcanvas {
  --bs-offcanvas-width: 75%;
}

.healthbar-container {
  min-height: 2.6rem;
}

.healthbar > div {
  width: 0.6em;
  height: 2rem;
}

.healthbar-tiny > div {
  width: 0.33em;
  height: 1rem;
}

.pulse-selection {
  overflow: auto;
}

.pulse-selection a {
  min-height: 2.7rem;
}

#detail-card {
  overflow: hidden;
}

@media (max-width: 768px) {
  #pulse-container {
    height: 25vh;
  }

  #pulse-detail-container {
    max-height: calc(75vh - 7rem);
    height: 100%;
  }

  #detail-card {
    height: 48vh; /** TODO: This is dirty */
    overflow: auto;
  }

  .offcanvas {
    --bs-offcanvas-width: 100%;
  }
}
