<div class="card">
  <div class="card-header"><i class="bi bi-geo me-2"></i>Heatmap</div>
  <div class="card-body">
    <div class="heatmap-container d-flex overflow-x-auto gap-1">
      @for (week of weeks(); track $index) {
        <div class="heatmap-column d-flex flex-column gap-1">
          @for (cell of week.cells; track $index) {
            @if (cell) {
              <div class="heatmap-cell rounded"
                   [style.background-color]="cell.color"
                   [ngbTooltip]="cell.tooltip"
                   placement="top">
                @if (cell.hasDeployment) {
                  <div class="heatmap-deploy-indicator"></div>
                }
              </div>
            } @else {
              <div class="heatmap-cell"></div>
            }
          }
        </div>
      }
    </div>
  </div>
</div>
