<router-outlet class="d-none" />
<div class="container-fluid my-3">
  @let selectedId = pulseService.selectedPulseId();
  <div class="row">
    <div [class]="'col-12 col-lg-4' + (selectedId ? ' d-none d-lg-block' : '')">
      <app-pulse-tree />
    </div>
    <div class="col-12 col-lg-8">
      @if (selectedId) {
        <app-pulse-detail [pulseId]="selectedId!" (deselect)="pulseService.deselectPulse()" />
      } @else {
        <div class="alert border d-flex flex-column align-items-center">
          <span>« Select a pulse to view its details »</span>
        </div>
      }
    </div>
  </div>
</div>
