@let it = item();
<a href="#"
   class="list-group-item list-group-item-action d-flex flex-row align-items-center"
   [class.active]="selected()"
   [class.pulse-item-child]="indent()"
   (click)="$event.preventDefault(); select()">
  <i class="bi bi-activity me-2" [ngClass]="stateClass()"></i>
  <app-uptime-badge class="me-2 d-none d-xl-inline-flex"
                    [percentage]="uptime()" />
  <span class="flex-grow-1 text-truncate me-3"
        [ngbTooltip]="it.name"
        triggers="hover"
        container="body">{{ it.name }}</span>
  <button class="btn btn-link btn-sm p-0 me-2 d-none d-md-inline overlay-btn"
          [class.active]="overlay()"
          ngbTooltip="Toggle Overlay"
          triggers="hover"
          container="body"
          (click)="toggleOverlay($event)">
    <i class="bi bi-stack"></i>
  </button>
  <app-health-bar [items]="it.items" />
</a>
